NODE_ENV=development
ENABLE_APM=0
GATEWAY_JWT_SECRET=1282722b942e08c8a6cb033aa6ce850e
GATEWAY_JWT_EXPIRATION=1h
USER_JWT_SECRET=8db8f85991bb28f45ac0107f2a1b349c

# client url
CLIENT_URL=http://localhost:3500

# Service tpc port
GATEWAY_SERVICE_PORT=3000
NOTIFICATION_SERVICE_PORT=3001
AUTH_SERVICE_PORT=3002
USER_SERVICE_PORT=3003
GIG_SERVICE_PORT=3004
MESSAGE_SERVICE_PORT=3005
ORDER_SERVICE_PORT=3006
REVIEW_SERVICE_PORT=3007

# Application Queue
NOTIFICATION_SERVICE_QUEUE=NOTIFICATION_SERVICE_QUEUE
USER_SERVICE_QUEUE=USER_SERVICE_QUEUE
GIG_SERVICE_QUEUE=GIG_SERVICE_QUEUE
MESSAGE_SERVICE_QUEUE=MESSAGE_SERVICE_QUEUE
ORDER_SERVICE_QUEUE=ORDER_SERVICE_QUEUE
REVIEW_SERVICE_QUEUE=REVIEW_SERVICE_QUEUE

# Application queue routing key
NOTIFICATION_ROUTING_KEY=NOTIFICATION_ROUTING_KEY
USER_ROUTING_KEY=USER_ROUTING_KEY
GIG_ROUTING_KEY=GIG_ROUTING_KEY
MESSAGE_ROUTING_KEY=MESSAGE_ROUTING_KEY
ORDER_ROUTING_KEY=ORDER_ROUTING_KEY
REVIEW_ROUTING_KEY=REVIEW_ROUTING_KEY

# Application queue routing key
NOTIFICATION_SERVICE_EXCHANGE=NOTIFICATION_SERVICE_EXCHANGE
USER_SERVICE_EXCHANGE=USER_SERVICE_EXCHANGE
GIG_SERVICE_EXCHANGE=GIG_SERVICE_EXCHANGE
MESSAGE_SERVICE_EXCHANGE=MESSAGE_SERVICE_EXCHANGE
ORDER_SERVICE_EXCHANGE=ORDER_SERVICE_EXCHANGE
REVIEW_SERVICE_EXCHANGE=REVIEW_SERVICE_EXCHANGE

# Application url
RABBITMQ_ENDPOINT=amqp://localhost:5672
REDIS_HOST=redis://localhost:6379
POSTGRES_URL=postgresql://postgres:password@localhost:5432/ecommerce
MONGODB_USER_SERVICE_URL=mysql://root:password@localhost:3306/ecommerce_user
MONGODB_GIG_SERVICE_URL=mysql://root:password@localhost:3306/ecommerce_gig
ELASTICSEARCH_PASSWORD=changeme
ELASTIC_SEARCH_URL=http://localhost:9200
ELASTIC_APM_SERVER_URL=http://localhost:8200
ELASTIC_APM_SECRET_TOKEN=

#Mail
MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM=
MAIL_FROM_NAME=no_replay@ecommerce.com
